<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keylibapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyLib">
        <activity android:name=".screens.Language"></activity>
        <activity
            android:name=".screens.PasswordScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ChangeSecretKey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.PasswordReset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.UserAccountSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.RandomPasswordGenerate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.RegistrationAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Adding_new_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>